*{
    margin:0px;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #ffffff;
    height:5rem;
    line-height: 5rem;
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    gap: 3rem;
}

.choice{
    height:170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.choice:hover{
    background-color: #f3580a;

}
img{
    height:150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10rem;
    font-size: 2rem;
}
#compScore,#userScore{
    font-size: 5rem;
}
.msg-container{
    margin-top: 5rem;
}
.msg{
    color:white;
    background-color: black;
    margin-top: 3rem;
    display: inline;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem;
}